{% extends 'base.html.twig' %}

{% block title %}Suppression d'un statut {% endblock %}

{% block body %}
    <main>
        <h1>Suppression d'un statut</h1>

        <h2>Appuyer sur le bouton Supprimer pour supprimer le status choisi : {{ status.name }}</h2>

        {% for message in app.flashes('FailedDeleteStatus') %}
            <div class="flash-danger" id="warning">
                <p>{{ message }}</p>
            </div>
            <div>
                <table class="table tableAdmin">
                    <thead>
                        <tr>
                            <th>Nom du projet</th>
                            <th>Modifier le projet</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.nameProject }}</td>
                                <td>
                                    <a href="{{ path('app_project_edit',
                                        {'id': project.id}) }}" class="btn btn-primary">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}


        {{ include('status/_delete_form.html.twig') }}
        <div>
            <a href="{{ path('app_status_index') }}"
               class="btn btn-secondary" id="btnRetourSuppr">
                Revenir à la liste
            </a>
        </div>
    </main>
{% endblock %}