{% extends 'base.html.twig' %}

{% block title %}Liste de statuts{% endblock %}

{% block body %}
    <h1>Liste de statuts</h1>
    {% for message in app.flashes('SuccessDeleteStatus') %}
        <div class="erreur">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('app_status_new') }}">
        <button class="btn btn-info">Ajouter un nouveau statut</button>
    </a>
    <div>
        {{ form_start(filterStatus) }}
            <div>
                <div class="erreur">
                    {{form_errors(filterStatus.searchStatus)}}
                </div>
                {{form_label(filterStatus.searchStatus)}}
                {{form_help(filterStatus.searchStatus)}}
                <div>
                    {{form_widget(filterStatus.searchStatus)}}
                </div>
                <button class="btn btn-info" type="submit">Rechercher</button>
            </div>
        {{ form_end(filterStatus) }}
    </div>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Identifiant</th>
                <th>Éditer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.name }}</td>
                <td style="background-color: {{ status.colorStatus }}"></td>
                <td>{{ status.slug }}</td>
                <td>
                    <a href="{{ path('app_status_edit', {'id': status.id}) }}" class="btn btn-primary">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_status_delete_view', {'id': status.id}) }}"
                       class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="erreur">Aucun statut n'a été trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
