{% extends 'base.html.twig' %}

{% block title %}Liste de statut{% endblock %}

{% block body %}
    <h1>Liste de statut</h1>
    <a href="{{ path('status_new') }}">
        <button class="btn btn-info">Ajouter un nouveau statut</button>
    </a>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Identifiant</th>
                <th>Couleur</th>
                <th>Éditer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.name }}</td>
                <td>{{ status.slug }}</td>
                <td style="background-color: {{ status.colorStatus }}"></td>
                <td>
                    <a href="{{ path('status_edit', {'id': status.id}) }}" class="btn btn-primary">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('status_delete_view', {'id': status.id}) }}"
                       class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="erreur">Aucun status n'a été trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
