{% extends 'base.html.twig' %}

{% block title %}Liste des équipes{% endblock %}

{% block body %}
    <h1>Liste des équipes</h1>
    {% for message in app.flashes('SuccessDeleteTeam') %}
        <div class="erreur">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <a href="{{ path('team_new') }}"
           class="btn btn-primary" id="btnAjout">
            Ajouter une nouvelle équipe
        </a>
        <a href="{{ path('admin') }}"
           class="btn btn-secondary" id="btnRetour">
            Retourner à la liste des fonctionnalités
        </a>
    </div>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Détail</th>
                <th>Éditer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.teamName }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}" class="btn btn-info">
                        Voir détail
                    </a>
                </td>
                <td>
                    <a href="{{ path('team_edit', {'id': team.id}) }}" class="btn btn-primary">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('team_delete_view', {'id': team.id}) }}"
                       class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
