{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="example-wrapper">
            <h1>Mes Projets : {{ projects|length }} </h1>
            <h2>
                Bonjour {{ app.user.firstnameUser }} {{ app.user.lastnameUser }}
            </h2>
            <a href="{{ path('app_project_new') }}">
                <button class="btn btn-info">Ajouter un nouveau projet</button>
            </a>
            <div>
                <div >
                    {{form_start(formFilter)}}
                    <div>
                        <div class="selectFiltre">
                            <span>{{ form_label(formFilter.orderProject)}}</span>
                            {{form_widget(formFilter.orderProject)}}
                        </div>
                        <div class="selectFiltre">
                            <span>{{form_label(formFilter.statusProject)}}</span>
                            {{form_widget(formFilter.statusProject)}}
                        </div>
                    </div>
                    <div>
                        <div class="selectFiltre">
                            <span>{{form_label(formFilter.searchProject)}}</span>
                            {{form_widget(formFilter.searchProject)}}
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info" >
                            Afficher
                        </button>
                    </div>
                    {{form_end(formFilter)}}
                </div>
            </div>
            <div>
                {{ knp_pagination_render(projects) }}
            </div>
            {% if not is_granted('ROLE_ADMIN') %}
                <h2>Derniers projets de mon équipe :</h2>
                <table class="table tableAdmin">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Statut</th>
                            <th>Équipe projet</th>
                            <th>Équipe client</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Voir détail</th>
                            <th>Éditer</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.codeProject }}</td>
                                <td>{{ project.nameProject }}</td>
                                <td style="background-color: {{ project.status.colorStatus }}"></td>
                                <td>{{ project.productionTeam.teamName }}</td>
                                <td>{{ project.teamClient.teamName }}</td>
                                <td>{{ project.startedAt ? project.startedAt|date('d/m/Y') : '' }}</td>
                                <td>{{ project.endedAt ? project.endedAt|date('d/m/Y') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_project_show',{'projectId': project.id}) }}"
                                       class="btn btn-info">
                                        Lien
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('app_project_edit',
                                        {'id': project.id}) }}" class="btn btn-primary">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('app_project_delete_view', {'id': project.id}) }}"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2>Projets à risque :</h2>
               <table class="table tableAdmin">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom du projet</th>
                            <th>Nom du risque</th>
                            <th>Sévérité</th>
                            <th>Voir détail</th>
                            <th>Éditer</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            {% for risk in project.projectRisks %}
                                <tr>
                                    <td>{{ project.codeProject }}</td>
                                    <td>{{ project.nameProject }}</td>
                                    <td>{{ risk.nameRisk }}</td>
                                    <td>{{ risk.severityRisk }}</td>
                                    <td>
                                        <a href="{{ path('app_project_show',{'projectId': project.id}) }}"
                                           class="btn btn-info">
                                            Lien
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_project_edit',
                                            {'id': project.id}) }}" class="btn btn-primary">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_project_delete_view', {'id': project.id}) }}"
                                           class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class="table tableAdmin">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Statut</th>
                            <th>Équipe projet</th>
                            <th>Équipe client</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Voir détail</th>
                            <th>Éditer</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.codeProject }}</td>
                                <td>{{ project.nameProject }}</td>
                                <td style="background-color: {{ project.status.colorStatus }}"></td>
                                <td>{{ project.productionTeam.teamName }}</td>
                                <td>{{ project.teamClient.teamName }}</td>
                                <td>{{ project.startedAt ? project.startedAt|date('d/m/Y') : '' }}</td>
                                <td>{{ project.endedAt ? project.endedAt|date('d/m/Y') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_project_show',{'projectId': project.id}) }}"
                                       class="btn btn-info">
                                        Lien
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('app_project_edit',
                                        {'id': project.id}) }}" class="btn btn-primary">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('app_project_delete_view', {'id': project.id}) }}"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <div>
                {{ knp_pagination_render(projects) }}
            </div>
        </div>
    {% else %}
        <h1>Bienvenue, Veuillez vous connecter pour accéder aux fonctionnalités proposées par le site</h1>
        <a href="{{ path('app_login') }}" class="btn btn-info">Se connecter</a>
    {% endif %}
{% endblock %}
