{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="example-wrapper">
        <h1>Mes Projets : {{ projects|length }} </h1>
        <h2>Bonjour {{ username }}</h2>
        <a href="{{ path('app_new_project') }}">
            <button class="btn btn-info">Ajouter un nouveau projet</button>
        </a>
        <div>
            {{ knp_pagination_render(projects) }}
        </div>
        <table class="table tableAdmin">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Équipe projet</th>
                    <th>Équipe client</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Voir détail</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.codeProject }}</td>
                        <td>{{ project.nameProject }}</td>
                        <td>{{ project.status.name }}</td>
                        <td>{{ project.productionTeam.teamName }}</td>
                        <td>{{ project.teamClient.teamName }}</td>
                        <td>{{ project.startedAt ? project.startedAt|date('d/m/Y') : '' }}</td>
                        <td>{{ project.endedAt ? project.endedAt|date('d/m/Y') : '' }}</td>
                        <td><a href="{{ path('app_project_show',{'project': project.id}) }}" class="btn btn-primary">lien</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(projects) }}
        </div>
    </div>
{% endblock %}
