{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Mes Projets : {{ projects|length }} </h1>
        <h2>Bonjour {{ username }}</h2>
        <a href="{{ path('app_new_project') }}">
            <button class="btn btn-info">Ajouter un nouveau projet</button>
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Voir détail</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.nameProject }}</td>
                        <td><a href="{{ path('app_project_show',{'project': project.id}) }}" class="btn btn-primary">lien</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
