{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau projet{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau projet</h1>
    <div id="divForm">
        <div class="container-fluid formEntité2" id="formProject">
            {{ form_start(project_form) }}
                <div id="screenLeft">
                    {{form_label(project_form.nameProject)}}
                    <div class="divInput">
                        {{form_widget(project_form.nameProject)}}
                    </div>
                    {% if form_errors(project_form.nameProject) %}
                        <div class="erreur">
                            {{form_errors(project_form.nameProject)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.codeProject)}}
                    <div class="divInput">
                        {{form_widget(project_form.codeProject)}}
                    </div>
                    {% if form_errors(project_form.codeProject) %}
                        <div class="erreur">
                            {{form_errors(project_form.codeProject)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.descriptionProject)}}
                    <div class="divInput">
                        {{form_widget(project_form.descriptionProject)}}
                    </div>
                    {% if form_errors(project_form.descriptionProject) %}
                        <div class="erreur">
                            {{form_errors(project_form.descriptionProject)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.status)}}
                    <div class="divInput">
                        {{form_widget(project_form.status)}}
                    </div>
                    {% if form_errors(project_form.status) %}
                        <div class="erreur">
                            {{form_errors(project_form.status)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.productionTeam)}}
                    <div class="divInput">
                        {{form_widget(project_form.productionTeam)}}
                    </div>
                    {% if form_errors(project_form.productionTeam) %}
                        <div class="erreur">
                            {{form_errors(project_form.productionTeam)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.archiveProject)}}
                    <div class="divInput">
                        {{form_widget(project_form.archiveProject)}}
                    </div>
                    {% if form_errors(project_form.archiveProject) %}
                        <div class="erreur">
                            {{form_errors(project_form.archiveProject)}}
                        </div>
                    {% endif %}
                </div>
                <div id="screenRight">
                    {{form_label(project_form.startedAt)}}
                    <div class="divInput">
                        {{form_widget(project_form.startedAt)}}
                    </div>
                    {% if form_errors(project_form.startedAt) %}
                        <div class="erreur">
                            {{form_errors(project_form.startedAt)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.endedAt)}}
                    <div class="divInput">
                        {{form_widget(project_form.endedAt)}}
                    </div>
                    {% if form_errors(project_form.endedAt) %}
                        <div class="erreur">
                            {{form_errors(project_form.endedAt)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.portfolio)}}
                    <div class="divInput">
                        {{form_widget(project_form.portfolio)}}
                    </div>
                    {% if form_errors(project_form.portfolio) %}
                        <div class="erreur">
                            {{form_errors(project_form.portfolio)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.teamClient)}}
                    <div class="divInput">
                        {{form_widget(project_form.teamClient)}}
                    </div>
                    {% if form_errors(project_form.teamClient) %}
                        <div class="erreur">
                            {{form_errors(project_form.teamClient)}}
                        </div>
                    {% endif %}
                    {{form_label(project_form.projectBudget)}}
                    <div class="divInput">
                        {{form_widget(project_form.projectBudget)}}
                    </div>
                    {% if form_errors(project_form.projectBudget) %}
                        <div class="erreur">
                            {{form_errors(project_form.projectBudget)}}
                        </div>
                    {% endif %}
                </div>
            {{ form_end(project_form) }}
        </div>
    </div>
    <div class="row">
        <div id="divAjout">
            <button type="submit" class="btn btn-success" form="projectForm">
                Enregistrer votre projet
            </button>
            <a href="{{ path('app_homepage') }}"
               id="btnRetour" class="btn btn-secondary">
                Revenir à la liste
            </a>
        </div>
    </div>
{% endblock %}