{% extends 'base.html.twig' %}

{% block title %}{{ project.nameProject }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('project') }}
{% endblock %}
{% block body %}
    <main>
        <h1 class="my-project">{{ project.nameProject }}</h1>
        <span>Mise à jour le {{ project.startedAt ? project.updatedAt|date('d/m/Y à H:i') : '' }}</span>
        {% for message in app.flashes('SuccessDeleteFact') %}
            <div class="erreur">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('SuccessDeleteRisk') %}
            <div class="erreur">
                {{ message }}
            </div>
        {% endfor %}
        <table class="tableAdmin">
            <tbody>
                <tr>
                    <td>Périmètre</td>
                    <td class="tdInfo">
                        <div class="leftTd">
                            <span>Débuter le : {{ project.startedAt ? project.startedAt|date('d/m/Y') : '' }}</span>
                            <span>Terminé le : {{ project.endedAt ? project.endedAt|date('d/m/Y') : 'En cours' }}</span>
                            <span>Statut : {{ project.status.name }}</span>
                        </div>
                        <div class="rightTd">
                            <span>Équipe projet : {{ project.productionTeam.teamName }}</span>
                            <span>Équipe client : {{ project.teamClient.teamName }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ project.descriptionProject }}</td>
                </tr>
                <tr>
                    <td>Budget</td>
                    <td class="tdInfo">
                        <div class="leftTd">
                            <span>Initial: {{ project.projectBudget.initialBudget }}€</span>
                            <span>Utilisé : {{ project.projectBudget.budgetUsed }}€</span>
                        </div>
                        <div class="rightTd">
                            <span>Reste à faire : {{ project.projectBudget.quantityleftBudget }}€</span>
                            {% set atterrissage =  project.projectBudget.quantityleftBudget +  project.projectBudget.budgetUsed %}
                            <span>Atterrissage : {{ atterrissage }}€</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Faits marquant passés :
                    </td>
                    <td>
                        <ol>
                            {% for fact in facts|filter(fact => fact.dateFact|date('m') < "now"|date('m'))%}
                                {% if loop.index < 6 %}
                                    <li>
                                        <a href="{{ path('app_fact_show',{'id': fact.id}) }}">{{ fact.nameFact }} - {{ fact.dateFact ? fact.dateFact|date('d/m/Y h:m') : '' }}</a>
                                        <span>
                                            <a class="btn btn-primary" href="{{ path('app_fact_edit',{'id': fact.id, 'projectId' : project.id}) }}">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            -
                                            {{ include('fact/_delete_form.html.twig') }}
                                        </span>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <span class="erreur">Aucun fait n'a été trouvé !</span>
                                </li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>
                        Faits marquant à venir :
                    </td>
                    <td>
                        <ol>
                            {% for fact in facts|filter(fact => fact.dateFact|date('m') >= "now"|date('m'))%}
                                {% if loop.index < 6 %}
                                    <li>
                                        <a href="{{ path('app_fact_show',{'id': fact.id}) }}">{{ fact.nameFact }} - {{ fact.dateFact ? fact.dateFact|date('d/m/Y h:m') : '' }}</a>
                                        <span>
                                            <a class="btn btn-primary" href="{{ path('app_fact_edit',{'id': fact.id, 'projectId' : project.id}) }}">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            -
                                            {{ include('fact/_delete_form.html.twig') }}
                                        </span>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <span class="erreur">Aucun fait n'a été trouvé !</span>
                                </li>
                            {% endfor %}
                        </ol>
                        <div class="divAdd">
                            <a class="btn btn-primary" href="{{ path('app_fact_new',{id: project.id}) }}">Ajouter un nouveau fait</a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalFact">
                                Afficher tous les faits
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modalFact" tabindex="-1" aria-labelledby="modalLabelFact" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabelFact">Affichage de tous les risques</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table>
                                                <tbody>
                                                    {% for fact in facts %}
                                                        <tr>
                                                            <td>
                                                                <a href="{{ path('app_fact_show',{'id': fact.id}) }}">{{ fact.nameFact }} - {{ fact.dateFact ? fact.dateFact|date('d/m/Y h:m') : '' }}</a>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-primary" href="{{ path('app_fact_edit',{'id': fact.id, 'projectId' : project.id}) }}">
                                                                    <i class="far fa-edit"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                {{ include('fact/_delete_form.html.twig') }}
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td>
                                                                <span class="erreur">Aucun fait n'a été trouvé !</span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Risques</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Date d'identification</th>
                                    <th>Date de résolution</th>
                                    <th>Sévérité</th>
                                    <th>Probabilité</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for risk in risks %}
                                    {% if loop.index < 6 %}
                                        <tr>
                                            <td>{{ risk.nameRisk }}</td>
                                            <td>
                                                {{ risk.identificationDateRisk ?
                                                risk.identificationDateRisk|date('d/m/Y') : '' }}
                                            </td>
                                            <td>
                                                {{ risk.resolutionDateRisk ?
                                                risk.resolutionDateRisk|date('d/m/Y') : '' }}
                                            </td>
                                            <td>
                                                {{ risk.severityRisk }}
                                            </td>
                                            <td>
                                                {{ risk.probabilityRisk }}%
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" href="{{ path('app_risk_edit',{'id': risk.id, 'projectId' : project.id}) }}">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </td>
                                            <td>
                                                {{ include('risk/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td colspan="7" class="erreur">Aucun risque n'a été trouvé !</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="divAdd">
                            <a class="btn btn-primary" href="{{ path('app_risk_new',{'id' : project.id}) }}">Ajouter un nouveau risque</a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalRisk">
                                Afficher tous les risques
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modalRisk" tabindex="-1" aria-labelledby="modalLabelRisk" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabelRisk">Affichage de tous les risques</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Date d'identification</th>
                                                        <th>Date de résolution</th>
                                                        <th>Sévérité</th>
                                                        <th>Probabilité</th>
                                                        <th>Modifier</th>
                                                        <th>Supprimer</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for risk in risks %}
                                                        <tr>
                                                            <td>{{ risk.nameRisk }}</td>
                                                            <td>
                                                                {{ risk.identificationDateRisk ?
                                                                risk.identificationDateRisk|date('d/m/Y') : '' }}
                                                            </td>
                                                            <td>
                                                                {{ risk.resolutionDateRisk ?
                                                                risk.resolutionDateRisk|date('d/m/Y') : '' }}
                                                            </td>
                                                            <td>
                                                                {{ risk.severityRisk }}
                                                            </td>
                                                            <td>
                                                                {{ risk.probabilityRisk }}%
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-primary" href="{{ path('app_risk_edit',{'id': risk.id, 'projectId' : project.id}) }}">
                                                                    <i class="far fa-edit"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                {{ include('risk/_delete_form.html.twig') }}
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="7" class="erreur">Aucun risque n'a été trouvé !</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
{% endblock %}